{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-9">

                <!-- Blog Post -->

{% for data in course %}

                <!-- Preview Image -->
                <img class="img-responsive" src="/static/media/{{ data.image }}" alt="">
                <hr>

                <h1>{{data.title}}</h1>

                <!-- Author -->
                <p class="lead">
                    <p class="lead">Instructed by : {{ data.trainer}}</p>
                    <p class="lead">Subject Matter Experts : {{ data.sme }}</p> 
                </p> 

                <!-- Post Content -->
                <blockquote>
                <em class="lead"><b>About the Course: </b>{{ data.overview }}</em>
                <hr/>
                <div class="row">
                  <div class="col-md-1">
                      <div class="text-right"> <img src="/static/img/assignments.svg"/> </div> 
                  </div> 
                  <div class="col-md-3">
                      <strong>50+ Assignments</strong> 
                      <p>Mentor assisted problem solving for better understanding</p>
                  </div> 
                  <div class="col-md-1">
                       <div class="text-right"> <img src="/static/img/projects.svg"/>  </div> 
                  </div> 
                  <div class="col-md-3">
                      <strong>4 Industry Level Projects</strong> 
                      <p>Mentor guided projects completion for Deployment Level Understanding & Hands-on</p>
                  </div>
                  <div class="col-md-1">
                       <div class="text-right"><img src="/static/img/certificate.svg"/>  </div> 
                  </div> 
                  <div class="col-md-3">
                      <strong>Get Professional Certificates</strong> 
                      <p>Avail Support & Mentorship for successful completion of certification</p>
                  </div>
                </div>
                <hr/>
                <p class="lead text-center">Syllabus</p>
                <hr/>
                <div class="lead">{{ data.content | safe }}</div>              
                </blockquote>
                <hr>

            </div>


            <div class="col-lg-3 lead" style="background-color:#eee;" >
                <ul class="nav nav-pills nav-stacked">
                   <li><a href="#" class="text-center">Overview</a></li>
                   <li><a href="#" class="text-center">Syllabus</a></li>
                   <li><a href="#" class="text-center">Course Discussion</a></li>
                   <li class="active"><br/><a href="#" class="text-center" style="padding:30px; font-weight:bolder; color: white">Enroll</a><br/></li>
               </ul>
            </div>

           </div>

    </div>
 {% endfor %}
 {% endblock %}
