
<!DOCTYPE html>

<html lang="en">

<head>


    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <meta name="author" content="">


    <title>zekeLabs - Learn & Grow</title>


    <!-- Bootstrap Core CSS -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

     <!-- for bootstrap modal -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--if lt IE 9]>

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
        <link href="static/css/settings.css" rel="stylesheet" type="text/css" media="screen">
        <link href="static/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

    <style type="text/css">

    body {

    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

    }

.hero-spacer {

    margin-top: -40px;
    background-image: url("static/img/sme/home.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 30.18%;
    padding-left: 45.18%;

}



.hero-feature {

    margin-bottom: 30px;

}


.company-name {
    
    color:white; 
    font-weight:bold; 
    font-size:1.5em;
    font-family: 'Quicksand', sans-serif;

}

.phone-num{
    font-weight:bolder;
    font-size:1.5em;
}

#slider {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.slides {
  position: relative;
  margin: 0;
  padding: 0;
}
.slide {
  position: absolute;
  list-style-type: none;
  text-align: center;
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
}
.slide1 {background: #E8E2E0; padding: 30px}
.slide2 {background: #E8E2E0; padding: 30px}
.slide3 {background: #E8E2E0; padding: 30px}
.slide4 {background: #E8E2E0; padding: 30px}
.slide5 {background: #E8E2E0; padding: 30px}

.comment {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 18px;
  color:grey;
}

.testimonial {
  background-color: white;
  padding:10px;
}

</style>



</head>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57f6c3380814cc34e180d2df/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

 
          <div class="top-bar" style="background-color:white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 hidden-xs">
                        <span><i class="fa fa-phone"></i>+91 7838927671</span>
                        <span><i class="fa fa-envelope"></i> info@zekelabs.com</span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span><a href="/webinar/pythonbigdata/" class="apply"><i class="fa fa-pencil"></i>Upcomming Webinar - <strong>Essential Python for BigData</strong> </a></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>

                <a class="navbar-brand" href="#"><div class="company-name">zekeLabs</div></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a class="page-scroll" href="/kbytes">K-Bytes</a>

                    </li>

                    <li>
                        <a href="#">Academia</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="#courses">Courses</a>
                    </li>

                    <li>
                        <a class="page-scroll"  href="#contact" style="font-weight:bold">Contact</a>
                    </li>

                    

                </ul>

            </div>

            <!-- /.navbar-collapse -->

        </div>

        <!-- /.container -->

    </nav>



    <!-- Page Content -->

        <!-- Jumbotron Header -->

        <header class="center jumbotron hero-spacer">


            <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" align="center">Ask Us</h4>
                    </div>
                    <div class="modal-body">
                      
                        <form action="/register/" method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group" >
                                <input type="text" name="name" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" name="mobile" class="form-control" placeholder="Mobile">
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" placeholder="Subject">
                            </div>
                             <div class="form-group">
                                <textarea rows="8" cols="50" name="message" class="form-control" placeholder="Message">
                                
                                </textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-lg">Submit</button>
                            </div>
                            
                        </form>
                      
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
            </div>

            <div class="modal fade" id="courseReg" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" align="center">Enroll Course</h4>
                    </div>
                    <div class="modal-body">
                      
                        <form action="/register/" method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group" >
                                <input type="text" name="name" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" name="mobile" class="form-control" placeholder="Mobile">
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" placeholder="Subject">
                            </div>
                             <div class="form-group">
                                <textarea rows="8" cols="50" name="message" class="form-control" placeholder="Message">
                                
                                </textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-lg">Submit</button>
                            </div>
                            
                        </form>
                      
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
            </div>

        </header>

        <!-- registration form(Modal-popup) -->

   <!--training classroom Begin -->
<section class="training-classroom container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-no-pad text-center">
            <a href="#" class="classroom" rel="nofollow">
        <span>
          <img src="static/img/sme/classroom.ico" width="100px">
        </span>
                <h3>CLASSROOM</h3>
                <p>Our classroom training provides you the opportunity to interact with instructors face-to-face.</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-no-pad text-center">
            <a href="#" class="virtual" rel="nofollow">
        <span>
          <img src="static/img/sme/virtual.png" width="100px">
        </span>
                <h3>VIRTUAL CLASSROOM</h3>
                <p>Our online classroom training programs combine the benefits of interactive classroom training with
                    the flexibility and convenience of online learning.</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-no-pad text-center">
            <a href="#" class="e-learning">
        <span>
          <img src="static/img/sme/certificate.png" width="100px">
        </span>
                <h3>CERTIFICATION</h3>
                <p>Get support & mentorship to get accredited from top Universities. Definately boost your professional career</p>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-no-pad text-center">
            <a href="#" class="corporate">
        <span>
          <img src="static/img/sme/training.png" width="100px">
        </span>
                <h3>CORPORATE TRAINING</h3>
                <p>Our corporate training is carefully structured to help executives keep ahead of rapidly evolving
                    business environments.</p>
            </a>
        </div>

    </div>
</section><!--training classroom End -->
            
   <div class="container-fluid" style="background-color: transparent;"><br/>
            <div class="row" style="background-color: transparent;">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="center-heading margin-btm-50">
                        <section id="courses">
                        <h2>Corporate Section</h2>
                        <span class="border-width"></span>
                        <p>Our Trainers have expertise of delivering sessions & consulting to various MNCs. A few of them are here</p>
                        </section><br/>
                        <a ><img src="static/img/sme/sme-expr.png" alt="" class="img-responsive"></a>
                    </div>
                </div>
          </div>
    </div>




    <div class="container">


        <!-- Title: Specialized Courses -->

        <div class="row">

            <div class="col-lg-12">

                <h3>Specialized Courses</h3>

            </div>

        </div>

        <!-- /.row -->

        <div class="row text-center">


            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/spark4.jpg" alt="">

                    <div class="caption">

                        <h3>Spark</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/spark" class="btn btn-default">More Info</a>
                            

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/Sparkandscala.png" alt="">

                    <div class="caption">

                        <h3>Spark with Scala</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/spark" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/hadoop.jpg" alt="">

                    <div class="caption">

                        <h3>Hadoop Foundation</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/bigdatahadoop" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/django.jpg" alt="">

                    <div class="caption">

                        <h3>Django</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/django" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



        </div>

        <!-- Page Features -->

        <div class="row text-center">



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/spring.jpg" alt="">

                    <div class="caption">

                        <h3>Spring</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/spring" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/hibernate.jpg" alt="">

                    <div class="caption">

                        <h3>Hibernate</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/hibernate" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/aws.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/aws" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>

            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/ansible.jpg" alt="">

                    <div class="caption">

                        <h3>Ansible</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/ansible" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



        </div>
        <hr>

        <!-- /.row -->
        
        <!-- Title: Foundation Courses -->

        <div class="row">

            <div class="col-lg-12">

                <h3>Foundation Courses</h3>

            </div>

        </div>

        <!-- /.row -->

        <div class="row text-center">


            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/java.png" alt="">

                    <div class="caption">

                        <h3>Java Foundation</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/java" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/python.png" alt="">

                    <div class="caption">

                        <h3>Python Foundation</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/python" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/perl.png" alt="">

                    <div class="caption">

                        <h3>Perl Foundation</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/perl" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/javascript.png" alt="">

                    <div class="caption">

                        <h3>Javascript Foundation</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/javascript" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



        </div>

        <!-- Page Features -->

        <div class="row text-center">



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/android.jpg" alt="">

                    <div class="caption">

                        <h3>Android Foundation</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/android" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/mysql.png" alt="">

                    <div class="caption">

                        <h3>MySql Foundation</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/mysql" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/hbase.jpg" alt="">

                    <div class="caption">

                        <h3>HBase Foundation</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/hbase" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>

            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/htmlcssjs.png" alt="">

                    <div class="caption">

                        <h3>UI Developement</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/htmlcssjs" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



        </div>
        <hr>

        <!-- Title: Premium Courses -->

        <div class="row">

            <div class="col-lg-12">

                <h3>Premium Courses</h3>

            </div>

        </div>

        <!-- /.row -->

        <div class="row text-center">


            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/Sparkandscala.png" alt="">

                    <div class="caption">

                        <h3>Spark with Scala</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/spark" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/python.png" alt="">

                    <div class="caption">

                        <h3>Advanced Python</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/pythonadvanced" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/perl.png" alt="">

                    <div class="caption">

                        <h3>Mastering Perl</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/perl" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-xs-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/javascript.png" alt="">

                    <div class="caption">

                        <h3>Object Oriented JavaSciprt</h3>

                        <p></p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/javascriptoops" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>


        </div>           

        <hr>


        <div class="space-30"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 margin-btm-30">
                        <h3 class="text-uppercase left-title margin-btm-40">Upcoming Events</h3>
                        <ul class="list-unstyled event-box">
                            <li class=" clearfix">
                                <div class="date">
                                    25<br>Oct
                                </div>
                                <div class="event-content">
                                    <h4><a href="#">Python for Everybody</a></h4>
                                    <p><i class="fa fa-clock-o" style="color:grey"></i> 11:00 Am - 3:00 Am</p>
                                    <p><i class="fa fa-map-marker" style="color:grey"></i> Instructor led Live Session</p>
                                    <p><a href="#">View Details <i class="fa fa-caret-right"></i></a></p>
                                </div>
                            </li><!--li-->
                            <li class=" clearfix">
                                <div class="date">
                                    26<br>Oct
                                </div>
                                <div class="event-content">
                                    <h4><a href="#">Spark Foundation Course</a></h4>
                                    <p><i class="fa fa-clock-o" style="color:grey"></i> 11:00 Am - 3:00 Am</p>
                                    <p><i class="fa fa-map-marker" style="color:grey"></i>Instructor led Live Session</p>
                                    <p><a href="#">View Details <i class="fa fa-caret-right"></i></a></p>
                                </div>
                            </li><!--li-->
                            <li class="text-right">
                                <a href="#" class="btn btn-border-skin">View All Events <i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul><!--ul-->
                    </div><!--col-->
           <div class="col-md-6 margin-btm-30">
                                            <h3 class="text-uppercase left-title margin-btm-40">Recent Events</h3>
                        <ul class="list-unstyled event-box">
                            <li class=" clearfix">
                                <div class="date">
                                    25<br>June
                                </div>
                                <div class="event-content">
                                    <h4><a href="#">Startup for mobile apps</a></h4>
                                    <p><i class="fa fa-clock-o"></i> 11:00 Am - 3:00 Am</p>
                                    <p><i class="fa fa-map-marker"></i> Seminar Campus</p>
                                    <p><a href="#">Watch Recordings<i class="fa fa-caret-right"></i></a></p>
                                </div>
                            </li><!--li-->
                            <li class=" clearfix">
                                <div class="date">
                                    25<br>June
                                </div>
                                <div class="event-content">
                                    <h4><a href="#">Startup for mobile apps</a></h4>
                                    <p><i class="fa fa-clock-o"></i> 11:00 Am - 3:00 Am</p>
                                    <p><i class="fa fa-map-marker"></i> Seminar Campus</p>
                                    <p><a href="#">Watch Recordings <i class="fa fa-caret-right"></i></a></p>
                                </div>
                            </li><!--li-->
                            <li class="text-right">
                                <a href="#" class="btn btn-border-skin">View All Events <i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul><!--ul-->
                    </div><!--col-->

          </div>
         </div>
        </div>
        <!-- SME -->

        <div class="container-fluid" style="background-color: transparent;"><br/>
            <div class="row" style="background-color: transparent;">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="center-heading margin-btm-50">
                        <section id="courses">
                        <h2>Industry Interactions</h2>
                        <span class="border-width"></span>
                        <p>Live Interaction and Q/A sessions with Industry Veterans from Tech Giants</p>
                        </section><br/>
                        <a ><img src="static/img/sme/sme1.jpg" alt="" class="img-responsive"></a>
                    </div>
                </div>
            </div>
         </div>

        <!-- Testimonial -->
        <div class="testimonial">
        <h2 class="text-center">Testimonials</h2>
        <div id="slider">
          <ul class="slides">
               <li class="slide slide1">
                  <div class="row">
                  <div class="col-sm-3 text-right">     
                  <img src="static/img/sme/0913650001475925632_pao_0.jpg" width="100" class="img-circle"/>
                  </div> 
                  <blockquote>
                  <p class="col-sm-7 comment">
                     "I really enjoyed the course and found it useful as an amazing intro to Spark, he does a great job explaining everything to you. Clear explanation, code works perfect. I moved to a new job, and now I am working with a leading healthcare organization doing a job that I love. All in all, highly recommended for anybody interested in learning Spark or any other big data technology."<br/> -- Mrinal, Bank of America
                  </p>
                  <br/>
                  </div>
               </li>
               <li class="slide slide2">
                  <div class="row">
                  <div class="col-sm-3 text-right">     
                  <img src="static/img/sme/0498049001475925701_deo_0.jpg" width="100" class="img-circle"/>
                  </div> 
                  <blockquote>
                  <p class="col-sm-7 comment">
                     "Post course support & certification helped me shape up my career"<br/> -- Arun Deori
                  </p>
                  <br/>
                  </div>
               </li>
               <li class="slide slide3">
                  <div class="row">
                  <div class="col-sm-3 text-right">     
                  <img src="static/img/sme/pixee.jpg" width="100" class="img-circle"/>
                  </div> 
                  <blockquote>
                  <p class="col-sm-7 comment">
                     "Very professional and has in depth knowledge on the subject. Most importantly know how to teach. "<br/> -- Chiros Goswami
                  </p>
                  <br/>
                  </div>

               <li class="slide slide4">
                  <div class="row">
                  <div class="col-sm-3 text-right">     
                  <img src="static/img/sme/IMG-20161008-WA0001.jpg" width="100" class="img-circle"/>
                  </div> 
                  <blockquote>
                  <p class="col-sm-7 comment">
                     "ZekeLabs is by far the best learning center. I have seen so far when it comes to technical studies. Instructor was very patient to listen and answer all the queries. Always finds a way to make to training as interesting as possible by challenging you with interesting problems. I was in fact skeptical about taking any technical course before I came across Zekelabs. But now I'm thinking of taking more courses from here. I found learning from their training to be much more effective than self learning using online resources. Zekelabs makes sure you understand each concept really well so you are comfortable to explore more on your own. The found immense value add in my proficiency of coding after taking his classes. Highly recommended! Thanks Zekelabs. :)"<br/> -- Pratibha, TCS 
                  </p>
                  <br/>
                  </div>
                  
                  
               <li class="slide slide5">
                  <div class="row">
                  <div class="col-sm-3 text-right">     
                  <img src="static/img/sme/pandu.jpg" width="100" class="img-circle"/>
                  </div> 
                  <blockquote>
                  <p class="col-sm-7 comment">
                     "I found his teaching amazing.I wasn't a progamming guy but the way he trained me in python and provided me the required programming approach led me to find it interesting."<br/> -- Ashish Pandey, Guavas Technologies
                  </p>
                  <br/>
                  </div>

          </ul>
        </div>
        </div>
        <!-- Footer -->

        <footer class="footer">


        </footer>

         <footer class="footer" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 margin-btm-30">
                        <div class="footer-col">
                            <h3>About zekeLabs</h3>
                            <p>
                               Learn. Explore. Conquer
                            </p>
                        </div>


                    </div>
                    <div class="col-md-3 margin-btm-30">
                        <section id ="contact">
                        <h3>Quick links</h3>
                        <ul class="list-unstyled contact">
                            <li><p><a href="#">Apply now<li>
                            <li><p><a href="/#courses">Courses<li>
                            <li><p><a href="#">Terms & Conditions<li>
                            <li><p><a href="/smes/">Subject Matter Experts<li>
                        </ul>
                        </section>
                     </div>
                      <div class="col-md-3 margin-btm-30">
                      <section id="contact">
                        <div class="footer-col">
                            <h3>Contact</h3>

                            <ul class="list-unstyled contact">
                                <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> Old Airport Road, Bangalore, 560017</p></li> 
                                <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">info@zekelabs.com</a></p></li>
                                <li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> +91 7838927671</p></li>
                                <ul class="list-inline footer-social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>

                            </ul>
                        </div>

                    </section>        
                    </div>
                       <div class="col-md-3 margin-btm-30">
                        <form action="/register/" method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group" >
                                <input type="text" name="name" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" name="mobile" class="form-control" placeholder="Mobile">
                            </div>
                             <div class="form-group">
                                <textarea rows="8" cols="50" name="message" class="form-control" placeholder="Message">

                                </textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-skin btn-lg btn-block footer-bottom">Query Now</button>
                            </div>

                        </form>

                    </div>


                </div>
            </div>
            <div class="row">

                <div class="col-lg-12 text-center footer-bottom">

                    <p>Copyright &copy; ZekeLabs Tech. Pvt. Ltd. 2016</p>

                </div>

            </div>

    </div>


    <!-- jQuery -->
    <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->

    <script src="static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
       var width = 100;
var animation_speed = 1200;
var time_val = 8000;
var current_slide = 1;

var $slider = $('#slider');
var $slide_container = $('.slides');
var $slides = $('.slide');

var interval;

$slides.each(function(index){
  $(this).css('left',(index*100)+'%');
});

function startSlider() {
  console.log("here it goes");
  interval = setInterval(function() {
    $slide_container.animate({'left': '-='+(width+'%')}, animation_speed, function() {
      if (++current_slide === $slides.length) {
        current_slide = 1;
        $slide_container.css('left', 0);
      }
    });
  }, time_val);
}

startSlider();
    </script>

</body>



</html>
