<!DOCTYPE html>

<html lang="en">

<head>


    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <meta name="author" content="">


    <title>zekeLabs - Learn & Grow</title>


    <!-- Bootstrap Core CSS -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

     <!-- for bootstrap modal -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--if lt IE 9]>

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
        <link href="static/css/settings.css" rel="stylesheet" type="text/css" media="screen">
        <link href="static/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

    <style type="text/css">

    body {

    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */

    }

.hero-spacer {

    margin-top: 0px;
    background-image: url("http://p.motionelements.com/stock-video/science-technology/me2196004-digital-code-looping-blue-background-hd-a0120.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 30.18%;
    padding-left: 45.18%;

}



.hero-feature {

    margin-bottom: 30px;

}


.company-name {
    
    color:white; 
    font-weight:bold; 
    font-size:1.5em;
    font-family: 'Quicksand', sans-serif;

}

.phone-num{
    font-weight:bolder;
    font-size:1.5em;
}

#slider {
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.slides {
  position: relative;
  margin: 0;
  padding: 0;
}
.slide {
  position: absolute;
  list-style-type: none;
  text-align: center;
  width: 100%;
  height: 250px;
  top: 0;
  left: 0;
}
.slide1 {background: #E8E2E0; padding: 30px}
.slide2 {background: #E8E2E0; padding: 30px}
.slide3 {background: #E8E2E0; padding: 30px}
.slide4 {background: #E8E2E0; padding: 30px}
.slide5 {background: #E8E2E0; padding: 30px}

.comment {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight:bold;
  padding-left: 20%;
  padding-right: 20%;
  color:black;
}

.testimonial {
  background-color: #E8E2E0;
  padding:10px;
}
</style>



</head>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57f6c3380814cc34e180d2df/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">

                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>

                <a class="navbar-brand" href="#"><div class="company-name">zekeLabs</div></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">

                    <li>

                        <a href="#">Courses</a>

                    </li>

                    <li>

                        <a href="#">Academia</a>

                    </li>

                    <li>

                        <a href="#">Courses</a>

                    </li>
                    <li>

                        <a href="#"><div class="phone-num">+91 7838927671</div></a>

                    </li>

                </ul>

            </div>

            <!-- /.navbar-collapse -->

        </div>

        <!-- /.container -->

    </nav>



    <!-- Page Content -->




        <!-- Jumbotron Header -->

        <header class="center jumbotron hero-spacer">

            <h1></h1>

            <p></p>

            <p><!-- <a class="btn btn-primary btn-large" data-toggle="modal" data-target="#myModal">Register Now !</a> -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Register Now !</button>
            </p>
            <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" align="center">Register Now</h4>
                    </div>
                    <div class="modal-body">
                      
                        <form action="/register/" method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group" >
                                <input type="text" name="name" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" name="mobile" class="form-control" placeholder="Mobile">
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" placeholder="Subject">
                            </div>
                             <div class="form-group">
                                <textarea rows="8" cols="50" name="message" class="form-control" placeholder="Message">
                                
                                </textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-lg">Submit</button>
                            </div>
                            
                        </form>
                      
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
            </div>

            <div class="modal fade" id="courseReg" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" align="center">Enroll Course</h4>
                    </div>
                    <div class="modal-body">
                      
                        <form action="/register/" method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group" >
                                <input type="text" name="name" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" name="mobile" class="form-control" placeholder="Mobile">
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" placeholder="Subject">
                            </div>
                             <div class="form-group">
                                <textarea rows="8" cols="50" name="message" class="form-control" placeholder="Message">
                                
                                </textarea>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-lg">Submit</button>
                            </div>
                            
                        </form>
                      
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
            </div>

        </header>

        <!-- registration form(Modal-popup) -->

            
   <div class="container-fluid" style="background-color: transparent;"><br/>
            <div class="row" style="background-color: transparent;">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="center-heading margin-btm-50">
                        <section id="courses">
                        <h2>Corporate Section</h2>
                        <span class="border-width"></span>
                        <p>Our Trainers have expertise of delivering sessions & consulting to various MNCs. A few of them are here</p>
                        </section><br/>
                        <a ><img src="static/img/sme/sme-expr.png" alt="" class="img-responsive"></a>
                    </div>
                </div>
          </div>
    </div>




    <div class="container">


        <!-- Title: Specialized Courses -->

        <div class="row">

            <div class="col-lg-12">

                <h3>Specialized Courses</h3>

            </div>

        </div>

        <!-- /.row -->

        <div class="row text-center">


            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/spark4.jpg" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#courseReg">Enroll</button>
                            <a href="/courses/spark" class="btn btn-default">More Info</a>
                            

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/Sparkandscala.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/hadoop.jpg" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/django.jpg" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



        </div>

        <!-- Page Features -->

        <div class="row text-center">



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/spring.jpg" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="" class="btn btn-primary">Enroll</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/hibernate.jpg" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/aws.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>

            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/ansible.jpg" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



        </div>
        <hr>

        <!-- /.row -->
        
        <!-- Title: Foundation Courses -->

        <div class="row">

            <div class="col-lg-12">

                <h3>Foundation Courses</h3>

            </div>

        </div>

        <!-- /.row -->

        <div class="row text-center">


            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/java.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/python.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/perl.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/javascript.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



        </div>

        <!-- Page Features -->

        <div class="row text-center">



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/android.jpg" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/mysql.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/hbase.jpg" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>

            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/htmlcssjs.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



        </div>
        <hr>

        <!-- Title: Premium Courses -->

        <div class="row">

            <div class="col-lg-12">

                <h3>Premium Courses</h3>

            </div>

        </div>

        <!-- /.row -->

        <div class="row text-center">


            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/Sparkandscala.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/python.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/perl.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>



            <div class="col-md-3 col-sm-6 hero-feature">

                <div class="thumbnail">

                    <img src="static/img/courses/javascript.png" alt="">

                    <div class="caption">

                        <h3>Feature Label</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                        <p>

                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>

                        </p>

                    </div>

                </div>

            </div>


        </div>           

        <hr>


        <div class="space-30"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 margin-btm-30">
                        <h3 class="text-uppercase left-title margin-btm-40">Upcoming Events</h3>
                        <ul class="list-unstyled event-box">
                            <li class=" clearfix">
                                <div class="date">
                                    25<br>June
                                </div>
                                <div class="event-content">
                                    <h4><a href="#">Startup for mobile apps</a></h4>
                                    <p><i class="fa fa-clock-o"></i> 11:00 Am - 3:00 Am</p>
                                    <p><i class="fa fa-map-marker"></i> Seminar Campus</p>
                                    <p><a href="#">View Details <i class="fa fa-caret-right"></i></a></p>
                                </div>
                            </li><!--li-->
                            <li class=" clearfix">
                                <div class="date">
                                    25<br>June
                                </div>
                                <div class="event-content">
                                    <h4><a href="#">Startup for mobile apps</a></h4>
                                    <p><i class="fa fa-clock-o"></i> 11:00 Am - 3:00 Am</p>
                                    <p><i class="fa fa-map-marker"></i> Seminar Campus</p>
                                    <p><a href="#">View Details <i class="fa fa-caret-right"></i></a></p>
                                </div>
                            </li><!--li-->
                            <li class="text-right">
                                <a href="#" class="btn btn-border-skin">View All Events <i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul><!--ul-->
                    </div><!--col-->
           <div class="col-md-6 margin-btm-30">
                                            <h3 class="text-uppercase left-title margin-btm-40">Recent Events</h3>
                        <ul class="list-unstyled event-box">
                            <li class=" clearfix">
                                <div class="date">
                                    25<br>June
                                </div>
                                <div class="event-content">
                                    <h4><a href="#">Startup for mobile apps</a></h4>
                                    <p><i class="fa fa-clock-o"></i> 11:00 Am - 3:00 Am</p>
                                    <p><i class="fa fa-map-marker"></i> Seminar Campus</p>
                                    <p><a href="#">Watch Recordings<i class="fa fa-caret-right"></i></a></p>
                                </div>
                            </li><!--li-->
                            <li class=" clearfix">
                                <div class="date">
                                    25<br>June
                                </div>
                                <div class="event-content">
                                    <h4><a href="#">Startup for mobile apps</a></h4>
                                    <p><i class="fa fa-clock-o"></i> 11:00 Am - 3:00 Am</p>
                                    <p><i class="fa fa-map-marker"></i> Seminar Campus</p>
                                    <p><a href="#">Watch Recordings <i class="fa fa-caret-right"></i></a></p>
                                </div>
                            </li><!--li-->
                            <li class="text-right">
                                <a href="#" class="btn btn-border-skin">View All Events <i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul><!--ul-->
                    </div><!--col-->

          </div>
         </div>
        </div>
        <!-- SME -->

        <div class="container-fluid" style="background-color: transparent;"><br/>
            <div class="row" style="background-color: transparent;">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="center-heading margin-btm-50">
                        <section id="courses">
                        <h2>Industry Interactions</h2>
                        <span class="border-width"></span>
                        <p>Live Interaction and Q/A sessions with Industry Veterans from Tech Giants</p>
                        </section><br/>
                        <a ><img src="static/img/sme/sme1.jpg" alt="" class="img-responsive"></a>
                    </div>
                </div>
            </div>
         </div>

        <!-- Testimonial -->
        <div class="testimonial">
        <h2 class="text-center">Testimonials</h2>
        <div id="slider">
          <ul class="slides">
               <li class="slide slide1"><img src="https://s3-ap-southeast-1.amazonaws.com/tv-prod/member/photo/1352071-medium190.jpg" width="100" class="img-circle"/>
               <br/>Awantik Das<br/><div class="comment">"I really enjoyed the course and found it useful as an amazing intro to Spark, he does a great job explaining everything to you. Clear explanation, code works perfect. I moved to a new job, and now I am working with a leading healthcare organization doing a job that I love. All in all, highly recommended for anybody interested in learning Spark or any other big data technology."<br/></div></li>
               <li class="slide slide2"><img src="https://s3-ap-southeast-1.amazonaws.com/tv-prod/member/photo/1352071-medium190.jpg" width="100" class="img-circle"/><br/>slide2<br/><div class="comment">"I really enjoyed the course and found it useful as an amazing intro to Spark, he does a great job explaining everything to you. Clear explanation, code works perfect. I moved to a new job, and now I am working with a leading healthcare organization doing a job that I love. All in all, highly recommended for anybody interested in learning Spark or any other big data technology."</div></li>
               <li class="slide slide3"><img src="https://s3-ap-southeast-1.amazonaws.com/tv-prod/member/photo/1352071-medium190.jpg" width="100" class="img-circle"/><br/>slide3</li>
               <li class="slide slide4"><img src="https://s3-ap-southeast-1.amazonaws.com/tv-prod/member/photo/1352071-medium190.jpg" width="100" class="img-circle"/><br/>slide4</li>
               <li class="slide slide5"><img src="https://s3-ap-southeast-1.amazonaws.com/tv-prod/member/photo/1352071-medium190.jpg" width="100" class="img-circle"/><br/>slide5</li>
               <li class="slide slide1"><img src="https://s3-ap-southeast-1.amazonaws.com/tv-prod/member/photo/1352071-medium190.jpg" width="100" class="img-circle"/><br/>slide1</li>
          </ul>
        </div>
        </div>
        <!-- Footer -->

        <footer class="footer">


        </footer>

         <footer class="footer" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 margin-btm-30">
                        <div class="footer-col">
                            <h3>About zekeLabs</h3>
                            <p>
                               Learn. Explore. Conquer
                            </p>
                        </div>


                    </div>
                    <div class="col-md-3 margin-btm-30">
                        <section id ="contact">
                        <h3>Quick links</h3>
                        <ul class="list-unstyled contact">
                            <li><p><a href="#">Apply now<li>
                            <li><p><a href="#">Courses<li>
                            <li><p><a href="#">Apply now<li>
                            <li><p><a href="#">Terms & Conditions<li>
                        </ul>
                        </section>
                     </div>
                      <div class="col-md-3 margin-btm-30">
                        <div class="footer-col">
                            <h3>Contact</h3>

                            <ul class="list-unstyled contact">
                                <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> Old Airport Road, Bangalore, 560017</p></li> 
                                <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">info@zekelabs.com</a></p></li>
                                <li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> +91 7838927671</p></li>
                                <ul class="list-inline footer-social">
                                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>

                            </ul>
                        </div>

                    </div>
                       <div class="col-md-3 margin-btm-30">
                        <form action="/register/" method="post" class="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group" >
                                <input type="text" name="name" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" name="mobile" class="form-control" placeholder="Mobile">
                            </div>
                             <div class="form-group">
                                <textarea rows="8" cols="50" name="message" class="form-control" placeholder="Message">

                                </textarea>
                            </div>
                            <div class="text-center">
                                <!-- <button type="Submit" class="btn btn-skin btn-lg btn-block"></button> -->
                                <button type="submit" class="btn btn-skin btn-lg btn-block">Query Now</button>
                            </div>

                        </form>

                    </div>


                </div>
            </div>
            <div class="row">

                <div class="col-lg-12 text-center">

                    <p>Copyright &copy; ZekeLabs Tech. Pvt. Ltd. 2016</p>

                </div>

            </div>

    </div>

    <!-- /.container -->


    <!-- jQuery -->
    <script   src="https://code.jquery.com/jquery-3.1.1.js"   integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="   crossorigin="anonymous"></script>


    <!-- Bootstrap Core JavaScript -->

    <script src="static/js/bootstrap.min.js"></script>

    <script type="text/javascript">
       var width = 100;
var animation_speed = 1200;
var time_val = 8000;
var current_slide = 1;

var $slider = $('#slider');
var $slide_container = $('.slides');
var $slides = $('.slide');

var interval;

$slides.each(function(index){
  $(this).css('left',(index*100)+'%');
});

function startSlider() {
  console.log("here it goes");
  interval = setInterval(function() {
    $slide_container.animate({'left': '-='+(width+'%')}, animation_speed, function() {
      if (++current_slide === $slides.length) {
        current_slide = 1;
        $slide_container.css('left', 0);
      }
    });
  }, time_val);
}

startSlider();
    </script>

</body>



</html>
